<div class="page-header">
  <h3>Prescription #<%= @prescription.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Doctor</dt>
      <dd>
        <% if @prescription.doctor.present? %>
          <a href="/doctors/<%= @prescription.doctor_id %>">
            <%= @prescription.doctor.firstname %>
          </a>
        <% end %>
      </dd>

      <dt>Patient</dt>
      <dd>
        <% if @prescription.patient.present? %>
          <a href="/patients/<%= @prescription.patient_id %>">
            <%= @prescription.patient.email %>
          </a>
        <% end %>
      </dd>

      <dt>Data type</dt>
      <dd>
        <% if @prescription.data_type.present? %>
          <a href="/data_types/<%= @prescription.data_type_id %>">
            <%= @prescription.data_type.name %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/prescriptions" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @prescription.doctor %>
        <a href="/prescriptions/<%= @prescription.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_prescription/<%= @prescription.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>
