<!-- Validation failure messages -->
<% if @record.errors.any? %>
  <% @record.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Record #<%= @record.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_record/<%= @record.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for patient_id -->
      <div class="form-group">
        <label for="patient_id" class="control-label">
          Patient
        </label>

        <%= select_tag(:patient_id, options_from_collection_for_select(Patient.all, :id, :email, @record.patient_id), :class => "form-control") %>
      </div>

      <!-- Label and input for prescription_id -->
      <div class="form-group">
        <label for="prescription_id" class="control-label">
          Prescription
        </label>

        <input type="text" id="prescription_id" name="prescription_id" placeholder="Prescription" class="form-control" value="<%= @record.prescription_id %>">
      </div>

      <!-- Label and input for date_time -->
      <div class="form-group">
        <label for="date_time" class="control-label">
          Date time
        </label>

        <input type="text" id="date_time" name="date_time" placeholder="Date time" class="form-control" value="<%= @record.date_time %>">
      </div>

      <!-- Label and input for data -->
      <div class="form-group">
        <label for="data" class="control-label">
          Data
        </label>

        <textarea id="data" name="data" placeholder="Data" class="form-control" rows="3"><%= @record.data %></textarea>
      </div>

      <!-- Label and input for datatype_id -->
      <div class="form-group">
        <label for="datatype_id" class="control-label">
          Datatype
        </label>

        <input type="text" id="datatype_id" name="datatype_id" placeholder="Datatype" class="form-control" value="<%= @record.datatype_id %>">
      </div>

      <button class="btn btn-warning">
        Update Record
      </button>
      or
      <a href="/records/<%= @record.id %>">Cancel</a>
    </form>
  </div>
</div>
